@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff0f3;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-noto-sans-kr),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Malgun Gothic",
    sans-serif;
}
